<!DOCTYPE html>
<html lang="es">

<%-include('./partials/head.ejs',{viewTitle: genre.name})%>

<body>
    <figure>
        <a href="/"><img src="/img/logo-DH.png" alt="Logo Digital House"></a>
    </figure>
    <div class="card">
        <div id="movieList_listTitle" class="card-header">
          <div class="moviesList_titulo_info">
            <div><%= genre.name %></div>
          </div>
        </div>          
        <ul class="list-group list-group-flush">
            <div class="list-group-item list-group-item-action">
                <div class="moviesList_Items">
                    NAME: <%= genre.name %>
                </div>
            </div>
            <div class="list-group-item list-group-item-action">
                <div class="moviesList_Items">
                    RANKING: <%= genre.ranking %>
                </div>
            </div>
        </ul>
    </div>
    <br>
    <a href="/genres"><button type="button" class="btn btn-secondary">Volver atras <i
        class="fa-solid fa-reply"></i></button></a>
    <a href="/">
        <button type="button" class="btn btn-secondary">
            Volver Al Inicio <i class="fa-solid fa-arrow-right-to-bracket"></i>
        </button>
        </a>
</body>
</html>