<!DOCTYPE html>
<html>

<%-include('./partials/head.ejs',{viewTitle: "Digital Movies"})%>

<body>
  <figure>
    <a href="/"><img src="/img/logo-DH.png" alt="Logo Digital House"></a>
  </figure>
  <h1>
    <%= title %>
  </h1>
  <h3>Bienvenidos a <%= title %>
  </h3>
  <a href="/movies"><button type="button" class="btn btn-secondary">Listado de Películas</button></a>
  <a href="/genres"><button type="button" class="btn btn-secondary">Listado de Generos</button></a>
</body>

</html>